.navbar {
  background-color: aqua;
  margin: 0px 50px 50px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  border-radius: 50px;
  font-size: 33px;
  font-weight: 600;
}
.item {
  text-decoration: none;
}
